@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Orbitron", sans-serif;
    background-color: #092780;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.container{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.image{
    height: 100%;
}
.image img{
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}
.itens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
}
.quote{
    color: white;
    font-size: 14px;
    padding: 50px;
}
.boxes form{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(2, 300px);
    max-width: 300px;
    gap: 30px;
}
.boxes {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px;
    gap: 20px;
    width: 100%;
}
.field{
    display: flex;
    flex-direction: column;
}
.field input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid;
    border-color: #cbcbcb;
    outline: none;
}
.field input:focus{
    border: 1px solid;
    border-color: #09184b;
}
.itens button{
    margin-inline: 50px;
    padding: 14px;
    width: 200px;
    border-radius: 8px;
    background-color: #ff6434;
    font-size: 15px;
    color: #092780;
    font-weight: 600;
    border-color: #ff6434;
    border: 2px solid;
    transition: 0.2s;
    cursor: pointer;
}
.itens button:hover{
    background-color: #092780;
    color: #ff6434;
}
.itens p{
    margin-inline: 50px;
    color: white;
}
.itens a{
    color: #ff6434;
}
@media (max-width: 1024px) {
    body{
        overflow-y: auto;
    }
    .container{
        flex-direction: column;
    }
    .image{
        width: 100%;
        height: 80%;
        flex: 0 0 35%;
    }
    .image img{
        object-fit: cover;
        width: 100%;
    }
    .quote{
        text-align: center;
        font-size: 12px;
    }
    .boxes{
        justify-content: center;
        align-items: center;
        min-width: auto;
        width: 100%;
    }
    .boxes h1{
        font-size: 28px;
    }
    form{
        justify-content: center;
        align-items: center;
    }
    .submit{
        align-self: center;
    }
    .itens p{
        align-self: center;
        margin-bottom: 20px;
    }
}
@media (max-width: 768px) {
    .quote{
        font-size: 10px;
    }
    .boxes h1{
        font-size: 22px;
    }
    .boxes form{
        grid-template-columns: repeat(1, 300px);
    }
    .itens p{
        text-align: center;
    }
}