@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Orbitron", sans-serif;
    background-color: #092780;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.image{
    height: 100vh;
    flex-basis: 400px;
    flex: 1;
}
.image img{
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}
.itens{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
    width: 100vh;
}
.form{
    display: flex;
    flex-direction: column;
}
.quote{
    color: white;
    font-size: 14px;
    padding: 50px;
}
.boxes form{
    display: grid;
    width: 100%;
    background-color: white;
    grid-template-columns: repeat(2, 300px);
    gap: 30px;
}
.boxes {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    padding-inline: 50px;
    gap: 20px;
}
.field{
    display: flex;
    flex-direction: column;
}
.field input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid;
    border-color: #cbcbcb;
}
.itens button{
    margin-inline: 50px;
    padding: 14px;
    width: 200px;
    border-radius: 8px;
    background-color: #ff6434;
    font-size: 15px;
    color: #092780;
    font-weight: 600;
    border-color: #ff6434;
    border: 2px solid;
    transition: 0.2s;
    cursor: pointer;
}
.itens button:hover{
    background-color: #092780;
    color: #ff6434;
}
.itens p{
    margin-inline: 50px;
    color: white;
}
.itens a{
    color: #ff6434;
}